<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kgc.dao.AddressDao">
    <select id="getAddressListByUserId" resultType="Address">
        select id,userId, address, createTime, isDefault, remark, isDelete,province,city,county,consignee,tel,detailed
        from easybuy_user_address where
        userId = #{userId} and isDelete = 0 order by createTime desc limit #{form},#{pageSize}
    </select>
    <select id="getAddressById" resultType="Address">
        select id, userId, address, createTime, isDefault, remark,province,city,county,consignee,tel,detailed
        from easybuy_user_address
        where isDelete = 0 and id=#{id}
    </select>
    <insert id="addAddress">
        insert into easybuy_user_address(userId,address,createTime,remark,province,city,county,consignee,tel,detailed,isDefault)
        value(#{userId},#{address},now(),#{remark},#{province},#{city},#{county},#{consignee},#{tel},#{detailed},#{isDefault})
    </insert>
    <update id="modifyNoDefault">
        update easybuy_user_address set isDefault = 0 where userId = #{userId}
    </update>
    <update id="modifyAddressById">
        update easybuy_user_address
        set address = #{address},remark = #{remark},province = #{province},city = #{city},county = #{county},consignee = #{consignee},tel = #{tel},detailed=#{detailed},isDefault=#{isDefault}
        where id=#{id} and isDelete=0
    </update>
    <update id="deleteAddressById">
        update easybuy_user_address set isDelete=1 where id=#{id}
    </update>
    <select id="getAddressCountByUserId" resultType="int">
        select count(1) from easybuy_user_address where isDelete=0 and userId = #{userId}
    </select>
</mapper>