<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kgc.dao.OrderDetailDao">
    <select id="getOrderDetailList" resultType="OrderDetail">
        select d.id, orderId, productId, name productName, price productPrice, quantity, cost
        from easybuy_order_detail d,
             easybuy_product p
        where d.isDelete = 0
          and d.productId = p.id
          and orderId = #{orderId}
    </select>

    <select id="getOrderDetailListPage" resultType="OrderDetail">
        select d.id, orderId, productId, name productName, price productPrice, quantity, cost
        from easybuy_order_detail d,
        easybuy_product p
        where d.isDelete = 0
        and orderId = #{orderId}
        and d.productId = p.id
        <if test="productName != null and productName != ''">
            and name like concat('%', #{productName}, '%')
        </if>
    </select>

    <insert id="addOrderDetail">
        insert into easybuy_order_detail(orderId, productId, quantity, cost)
            value (#{orderId}, #{productId}, #{quantity}, #{cost})
    </insert>

    <delete id="delOrderDetail">
        update easybuy_order_detail
        set isDelete = 1
        where isDelete = 0
        <if test="id != null">
            and id = #{id}
        </if>
        <if test="orderId != null">
            and orderId = #{orderId}
        </if>
    </delete>
</mapper>
