<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kgc.dao.OrderDao">
    <update id="fulfilOrderPay">
        update easybuy_order
        set status = 1
        where serialNumber = #{orderNumber}
    </update>
    <insert id="addOrder" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into easybuy_order(userId, loginName, userAddress, cost, createTime, serialNumber)
            value (#{userId}, #{loginName}, #{userAddress}, #{cost}, now(), #{serialNumber})
    </insert>
    <update id="modOrder">
        update easybuy_order
        <set>
            <if test="cost != null and cost > 0">
                cost = #{cost},
            </if>
            <if test="status != null">
                status = #{status}
            </if>
        </set>
        where isDelete = 0
        and id = #{id}
    </update>
    <update id="cancelOrder">
        update easybuy_order
        set
        <if test="status != null and status > 0">
            status = #{status}
        </if>
        where isDelete = 0
        and id = #{id}
    </update>

    <select id="getOrderList" resultType="Order">
        select o.id,
        userId,
        loginName,
        userAddress,
        o.createTime,
        cost,
        serialNumber,
        status,
        name statusName
        from easybuy_order o,
        easybuy_order_type t
        where o.isDelete = 0
        and o.status = t.id
        <if test="userId != null and userId != ''">
            and userId = #{userId}
        </if>
        <if test="serialNumber != null and serialNumber != ''">
            and serialNumber like concat('%', #{serialNumber}, '%')
        </if>
        <if test="loginName != null and loginName != ''">
            and loginName like concat('%', #{loginName}, '%')
        </if>
    </select>

    <select id="getOrder" resultType="Order">
        select o.id,
        userId,
        o.loginName,
        userAddress,
        o.createTime,
        cost,
        serialNumber,
        status,
        name statusName,
        mobile
        from easybuy_order o,
        easybuy_order_type t,
        easybuy_user u
        where o.isDelete = 0
        and o.status = t.id
        and o.userId = u.id
        <if test="id != null and id > 0">
            and o.id = #{id}
        </if>
        <if test="serialNumber != null and serialNumber != ''">
            and serialNumber = #{serialNumber}
        </if>
    </select>

    <select id="getTimeOutOrderList" resultType="Order">
        select id,
               userId,
               loginName,
               userAddress,
               createTime,
               cost,
               serialNumber,
               status
        from easybuy_order
        where isDelete = 0
          and status = 0
          and date_sub(NOW(), INTERVAL 30 MINUTE) > createTime;
    </select>
</mapper>
