<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kgc.dao.ProductDao">
    <select id="getProductList" resultType="Product">
        select p.id,
               p.brandId,
               b.name                                                                                   brandName,
               p.name,
               p.description,
               p.price,
               p.stock,
               p.categoryLevelId,
               L3                                                                                       categoryLeve3Name,
               L2                                                                                       categoryLeve2Name,
               L1                                                                                       categoryLeve1Name,
               p.picId,
               f.picPath,
               (select sum(quantity) from easybuy_order_detail where productId = p.id and isDelete = 0) sales,
               (select true from easybuy_product where id = p.id and YEAR(createTime) >= YEAR(NOW()))   newProduct
        from easybuy_product p,
             easybuy_product_brand b,
             easybuy_product_category c,
             easybuy_file f,
             (SELECT (SELECT `id` FROM easybuy_product_category WHERE id = L3)   L3_id,
                     (SELECT `name` FROM easybuy_product_category WHERE id = L3) L3,
                     (SELECT `id` FROM easybuy_product_category WHERE id = L2)   L2_id,
                     (SELECT `name` FROM easybuy_product_category WHERE id = L2) L2,
                     (SELECT `id` FROM easybuy_product_category WHERE id = L1)   L1_id,
                     (SELECT `name` FROM easybuy_product_category WHERE id = L1) L1
              FROM (SELECT zid                                                                     L3,
                           pid                                                                     L2,
                           (SELECT parentId FROM easybuy_product_category c2 WHERE c1.pid = c2.id) L1
                    FROM (SELECT id zid, (SELECT id FROM easybuy_product_category c2 WHERE c2.id = c1.parentId) pid
                          FROM easybuy_product_category c1) c1) c) c1
        where p.isDelete = 0
          and p.brandId = b.id
          and p.categoryLevelId = c.id
          and p.picId = f.id
          and p.categoryLevelId = c1.L3_id;
    </select>

    <select id="getProductById" resultType="Product">
        SELECT 				p.id,
                              p.name,
                              p.description,
                              p.price,
                              p.stock,
                              p.categoryLevelId,
                              p.picId,
                              f.picPath
        FROM easybuy_product p,easybuy_file f
        WHERE p.isDelete = 0
          AND p.picId = f.id
          AND f.isDelete=0
          AND p.id = #{id};
    </select>

    <select id="getSimilarProducts" resultType="Product">
        SELECT 				p.id,
                              p.name,
                              p.description,
                              p.price,
                              p.stock,
                              p.categoryLevelId,
                              p.picId,
                              f.picPath
        FROM easybuy_product p,easybuy_file f
        WHERE p.isDelete = 0
          AND p.picId = f.id
          AND f.isDelete=0
          AND categoryLevelId = #{categoryLevelId};
    </select>

    <select id="getProductsByHigHestId" resultType="Product">
        SELECT 				p.id,
                              p.name,
                              p.description,
                              p.price,
                              p.stock,
                              p.categoryLevelId,
                              p.picId,
                              f.picPath
        FROM easybuy_product p,easybuy_file f
        WHERE p.isDelete = 0
          AND p.picId = f.id
          AND f.isDelete=0
          AND categoryLevelId IN
              (SELECT id
               FROM easybuy_product_category
               WHERE isDelete = 0
                 AND parentId IN
                     (SELECT id FROM easybuy_product_category WHERE isDelete = 0 AND parentId = #{id}));
    </select>

    <insert id="addProduct">
        insert into easybuy_product(name, brandId, description, price, stock, categoryLevelId, picId, createTime)
            value (#{name}, #{brandId}, #{description}, #{price}, #{stock}, #{categoryLevelId}, #{picId}, #{createTime})
    </insert>

    <update id="modProduct">
        update easybuy_product
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="brandId != null and brandId > 0">
                brandId = #{brandId},
            </if>
            <if test="description != null and description != ''">
                description = #{description},
            </if>
            <if test="price != null and price > 0.0">
                price = #{price},
            </if>
            <if test="stock != null and stock > 0">
                stock = #{stock},
            </if>
            <if test="categoryLevelId != null and categoryLevelId > 0">
                categoryLevelId = #{categoryLevelId},
            </if>
            <if test="picId != null and picId > 0">
                picId = #{picId},
            </if>
        </set>
        where isDelete = 0
        and id = #{id}
    </update>

    <delete id="delProduct">
        update easybuy_product
        set isDelete = 1
        where isDelete = 0
          and id = #{id}
    </delete>

    <select id="getProduct" resultType="Product">
        select id,
        name,
        description,
        price,
        stock,
        categoryLevelId,
        picId
        from easybuy_product
        where isDelete = 0
        <if test="id != null and id > 0">
            and id = #{id}
        </if>
        <if test="name != null and name != ''">
            and name = #{name}
        </if>
    </select>
    <select id="selectProIdByPicId" resultType="Product">
        select id from easybuy_product where isDelete = 0 and picId = #{picId}
    </select>

    <select id="getExistParentCategoryProductCount" resultType="int">
        SELECT count(1) FROM easybuy_product WHERE isDelete=0 AND categoryLevelId=#{id};
    </select>


</mapper>
