<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kgc.dao.ProductDao">
    <select id="getProductList" resultType="Product">
        select p.id,
               p.brandId,
               b.name                                                                                 brandName,
               p.name,
               p.description,
               p.price,
               p.stock,
               p.categoryLevelId,
               c.name                                                                                 categoryName,
               p.picId,
               f.picPath,
               (select sum(quantity) from easybuy_order_detail where productId = p.id and isDelete=0)                     sales,
               (select true from easybuy_product where id = p.id and YEAR(createTime) >= YEAR(NOW())) newProduct
        from easybuy_product p,
             easybuy_product_brand b,
             easybuy_product_category c,
             easybuy_file f
        where p.isDelete = 0
          and p.brandId = b.id
          and p.categoryLevelId = c.id
          and p.picId = f.id
    </select>

    <select id="getProductById" resultType="Product">
        SELECT id,
               name,
               description,
               price,
               stock,
               categoryLevelId,
               picId,
               isDelete
        FROM easybuy_product
        WHERE isDelete=0 AND id=#{id};
    </select>

    <select id="getSimilarProducts" resultType="Product">
        SELECT id,
               name,
               description,
               price,
               stock,
               categoryLevelId,
               picId,
               isDelete
        FROM easybuy_product
        WHERE isDelete=0 AND categoryLevelId=#{categoryLevelId};
    </select>

    <select id="getProductsByHigHestId" resultType="Product">
        SELECT id,
               name,
               description,
               price,
               stock,
               categoryLevelId,
               picId,
               isDelete
        FROM easybuy_product WHERE isDelete=0 AND categoryLevelId IN
          (SELECT id FROM easybuy_product_category
             WHERE isDelete=0 AND parentId IN
                (SELECT id FROM easybuy_product_category WHERE isDelete=0 AND parentId=#{id}));
    </select>
</mapper>
